{%- from "helpers.inc" import codegen_alert, simple_cpp_type, row_type, query_return_type, is_void, is_struct -%}
{{ codegen_alert() }}

#include <{{ namespace }}/sql_queries.hpp>
#include <{{ namespace }}/pg_cluster.hpp>

{% macro execute(query, host_type) -%}
    cluster_->Execute({{ host_type }}, sql::{{ query.sql_name }}
    {%- for arg in query.args -%}
        , arg{{ loop.index }}
    {%- endfor -%}
    )
{%- endmacro %}

{% macro execute_and_return(query, host_type) -%}
    {%- if is_void(query) -%}
        {{ execute(query, host_type) }};
    {%- else -%}
        {% set row_tag = "USERVER_NAMESPACE::storages::postgres::kRowTag" %}
        {% set tag = row_tag if is_struct(query) else "" %}

        {%- if query.cardinality == "one" -%}
            return {{ execute(query, host_type) }}.AsSingleRow<{{ row_type(query) }}>({{ tag }});
        {%- elif query.cardinality == "optional" -%}
            return {{ execute(query, host_type) }}.AsOptionalSingleRow<{{ row_type(query) }}>({{ tag }});
        {%- else -%}
            return {{ execute(query, host_type) }}.AsContainer<std::vector<{{ row_type(query) }}>>({{ tag }});
        {%- endif -%}
    {%- endif -%}
{%- endmacro %}

namespace {{ namespace }} {

ClusterPgClient::ClusterPgClient(USERVER_NAMESPACE::storages::postgres::ClusterPtr cluster) : cluster_(cluster) {}

{%- for query in queries %}

{{ query_return_type(query) }} ClusterPgClient::{{ query.cpp_name }}(
    HostType host_type
    {%- for arg in query.args %}
        ,const {{ simple_cpp_type(arg.cpp_type) }}& arg{{ loop.index }}
    {%- endfor %}
) const {
    {{ execute_and_return(query, "host_type") }}
}

{%- endfor %}

} // namespace {{ namespace }}
