{%- from "helpers.inc" import codegen_alert, simple_cpp_type, row_type, query_return_type -%}
{{ codegen_alert() }}

#pragma once

#include <{{ namespace }}/pg_client.hpp>

namespace {{ namespace }} {

class ClusterPgClient : public PgClient {
public:
    ClusterPgClient(USERVER_NAMESPACE::storages::postgres::ClusterPtr);

    {%- for query in queries %}

        {{ query_return_type(query) }} {{ query.cpp_name }}(
            HostType host_type
            {%- for arg in query.args %}
                ,const {{ simple_cpp_type(arg.cpp_type) }}& arg{{ loop.index }}
            {%- endfor %}
            ) const override;

    {%- endfor %}

    ~ClusterPgClient() override = default;

private:
    USERVER_NAMESPACE::storages::postgres::ClusterPtr cluster_;
};

} // namespace {{ namespace }}
