{%- from "helpers.inc" import codegen_alert, simple_cpp_type, row_type, query_return_type -%}
{{ codegen_alert() }}

#pragma once

#include <gmock/gmock.h>
#include <{{ namespace }}/pg_client.hpp>

namespace {{ namespace }} {

class MockPgClient : public PgClient {
public:
    {%- for query in queries %}

    MOCK_METHOD(
        ({{ query_return_type(query) }}),
        {{ query.cpp_name }},
        (
            HostType host_type
            {%- for arg in query.args %}
                ,const {{ simple_cpp_type(arg.cpp_type) }}& arg{{ loop.index }}
            {%- endfor %}
        ),
        (const, override)
    );

    {%- endfor %}

    ~MockPgClient() override = default;
};

} // namespace {{ namespace }}
